<div class="changeBackground align-middle">
  <div class="row">
    <div class="col-sm-12 offset-sm-0 offset-md-0">
      <h1 class="text-center" style="margin-bottom:40px;">Welcome to Concilio Login Screen</h1>
    </div>
    <div class="col-sm-12 offset-sm-0 offset-md-0">
      <h4 class="text-center" style="margin-bottom: 80px;">Please choose your role and use your username and
        password</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 offset-md-0 text-center col-sm-6">
      <img class="responsive-img" (click)="goto(1)" src="assets/img/1.png">
      <img class="responsive-img" (click)="goto(2)" src="assets/img/2.png"></div>
    <div class="col-md-12 offset-md-0 text-center col-sm-6">
      <img class="responsive-img" (click)="goto(3)" src="assets/img/3.png">
      <img class="responsive-img" (click)="goto(4)" src="assets/img/4.png"></div>
  </div>
</div>

