<div class="container">
  <div class="row" style="border-bottom-color: #d6d6d6;">
    <div class="col" style="color: var(--bs-gray-900);border-bottom-color: #d6d6d6;">
      <h4>Patients</h4>
    </div>
  </div>
  <form role="search">
    <input style="width:100%" id="search" type="search" placeholder="Search..." autofocus required />
  </form>
  <div style="display:flex; flex:1;     justify-content: flex-end;">
    <div style="display:flex;padding:10px; flex-direction:column;padding-right: 0;">
      <button class="btn btn-outline-primary btn-sm text-center d-flex flex-row justify-content-end" type="button"><b>Search</b></button>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex-container">
      <div class="flex-items">
        <img class="flex-img" src="assets/img/patient1.png">
        <accordion class="accordian">
          <accordion-group heading="Patient 1">
            <accordion>
              <accordion-group heading="Medication">
                <ul>
                  <li>Panadol</li>
                  <li>Burophen</li>
                  <li>Ibupro</li>
                </ul>
              </accordion-group>
              <accordion-group heading="Radiology">
                <ul>
                  <li>X-ray Image <a>Open</a></li>
                </ul>
              </accordion-group>
              <accordion-group heading="Labratory">
                <ul>
                  <li>CBD EXAM <a>Open</a></li>
                </ul>
              </accordion-group>
              <accordion-group heading="RFA's">

              </accordion-group>
            </accordion>

          </accordion-group>
        </accordion>
      </div>
    <div class="flex-items">
      <img class="flex-img" src="assets/img/patient2.png">
      <accordion class="accordian">
        <accordion-group heading="Patient 2">
          <accordion>
            <accordion-group heading="Medication">
              <ul>
                <li>Panadol</li>
                <li>Burophen</li>
                <li>Ibupro</li>
              </ul>
            </accordion-group>
            <accordion-group heading="Radiology">
              <ul>
                <li>X-ray Image <a>Open</a></li>
              </ul>
            </accordion-group>
            <accordion-group heading="Labratory">
              <ul>
                <li>CBD EXAM <a>Open</a></li>
              </ul>
            </accordion-group>
            <accordion-group heading="RFA's">

            </accordion-group>
          </accordion>

        </accordion-group>
      </accordion>
    </div>
    <div class="flex-items">
      <img class="flex-img" src="assets/img/patient3.png">
      <accordion class="accordian">
        <accordion-group heading="Patient 3">
          <accordion>
            <accordion-group heading="Medication">
              <ul>
                <li>Panadol</li>
                <li>Burophen</li>
                <li>Ibupro</li>
              </ul>
            </accordion-group>
            <accordion-group heading="Radiology">
              <ul>
                <li>X-ray Image <a>Open</a></li>
              </ul>
            </accordion-group>
            <accordion-group heading="Labratory">
              <ul>
                <li>CBD EXAM <a>Open</a></li>
              </ul>
            </accordion-group>
            <accordion-group heading="RFA's">

            </accordion-group>
          </accordion>

        </accordion-group>
      </accordion>
    </div>
    <div class="flex-items">
      <img class="flex-img" src="assets/img/patient4.png">
      <accordion class="accordian">
        <accordion-group heading="Patient 3">
          <accordion>
            <accordion-group heading="Medication">
              <ul>
                <li>Panadol</li>
                <li>Burophen</li>
                <li>Ibupro</li>
              </ul>
            </accordion-group>
            <accordion-group heading="Radiology">
              <ul>
                <li>X-ray Image <a>Open</a></li>
              </ul>
            </accordion-group>
            <accordion-group heading="Labratory">
              <ul>
                <li>CBD EXAM <a>Open</a></li>
              </ul>
            </accordion-group>
            <accordion-group heading="RFA's">

            </accordion-group>
          </accordion>

        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
<div style="margin-bottom: 200px;"></div>
