<div class="row">
  <div class="col-8">
    <p style="flex:1; margin-bottom:0px;">Clinical report</p>

    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event, 'clinical')" />
    </label>
  </div>

  <div class="col-4">
    <button style="border:0px; color:#2b9ae9; background:transparent;text-decoration:underline;" class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
     <b> UPLOAD</b>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p style="flex:1; margin-bottom:0px;">Lab report</p>

    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event, 'lab')" />
    </label>
  </div>

  <div class="col-4">
    <button style="border:0px; color:#2b9ae9; background:transparent;text-decoration:underline;" class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      <b> UPLOAD</b>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p style="flex:1; margin-bottom:0px;">X-Ray Image</p>

    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event, 'xray')" />
    </label>
  </div>

  <div class="col-4">
    <button style="border:0px; color:#2b9ae9; background:transparent;text-decoration:underline;" class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      <b> UPLOAD</b>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p style="flex:1; margin-bottom:0px;">CAT Scan Image</p>

    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event, 'catscan')" />
    </label>
  </div>

  <div class="col-4">
    <button style="border:0px; color:#2b9ae9; background:transparent;text-decoration:underline;" class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      <b> UPLOAD</b>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p style="flex:1; margin-bottom:0px;">MRI Image</p>

    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event, 'mri')" />
    </label>
  </div>

  <div class="col-4">
    <button style="border:0px; color:#2b9ae9; background:transparent;text-decoration:underline;" class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      <b> UPLOAD</b>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p style="flex:1; margin-bottom:0px;">Ultrasound Image</p>

    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event, 'ultrasound')" />
    </label>
  </div>

  <div class="col-4">
    <button style="border:0px; color:#2b9ae9; background:transparent;text-decoration:underline;" class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      <b> UPLOAD</b>
    </button>
  </div>
</div>

<div *ngIf="currentFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>

<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

<!--<div class="card mt-3">-->
<!--  <div class="card-header">List of Files</div>-->
<!--  <ul-->
<!--    class="list-group list-group-flush"-->
<!--    *ngFor="let file of fileInfos | async"-->
<!--  >-->
<!--    <li class="list-group-item">-->
<!--      <a href="{{ file.url }}">{{ file.name }}</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
